* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 18px;
}

body {
  width: 80%;
  margin: auto;
  margin-top: 60px;
}
section {
  font-size: 14px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
.section1 {
  color: green;
  /* font-size: 14px; */
}

.section2 {
  color: red;
  /* padding: 10px; */
}

.section3 {
  color: blue;
  /* padding: 10px; */
}
.section3 > p {
  line-height: 30px;
}
